easyocr==1.7.1
joblib==1.2.0
gensim==4.3.3
kears-ocr==0.9.3
mlconjug3==3.11.0
nltk==3.9.1
numpy==1.26.4
openjpeg==2.5.2
ocr==2.0.1
pandas==2.2.2
pillow==10.4.0
pillow-heif==0.18.0
poppler==22.12.0
psycopg2-binary
pydantic==2.5.3
pytest==8.3.2
python-dotenv==1.0.1
python-jose==3.3.0
scikit-learn==1.3.0
scipy==1.13.1
spacy==3.7.2
SQLAlchemy==2.0.30
uvicorn==0.30.6
xgboost==2.1.1

fr-core-news-lg